<div id="app-container">
  <h1>Ad Hawk App</h1>

  Current Safe-To-Sell Car Value: {{sellValue}}
  <br/>
  Add Car <button mat-raised-button (click)="openDialog()" color="primary">+</button>
  <br/>
  Import / Export Garage List <button mat-raised-button (click)="garageInput.click()" color="primary">Upload</button>&nbsp;<button mat-raised-button (click)="exportGarage()" color="primary">Download</button>

  <hr/>

  <input hidden="true" type="file" (change)="importGarage($event)" #garageInput>

  <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
    <mat-tab label="Current Stock"><app-current-stock [garage]="garage"></app-current-stock></mat-tab>
    <mat-tab label="Safe To Sell">Content 2</mat-tab>
    <mat-tab label="Collection Progress">Content 3</mat-tab>
  </mat-tab-group>

  <hr/>

  {{loadedFile | json}}

  <hr/>

  <input (keydown.enter)="parseInput($event)">

</div>
